<div class="container-fluid" *ngIf="forecast">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">5-day forecast for {{forecast.city.name}}</h3>

    </div>
    <ul class="list-group">
      <!---->
      <li class="list-group-item" *ngFor="let forecastItem of forecast.list">
        {{forecastItem.dt * 1000 | date : 'E, MMM d, y'}}:
        {{forecastItem.weather[0].main}}
        - Min: {{forecastItem.temp.min}}&deg;
        - Max: {{forecastItem.temp.max}}&deg;

        <img class="icon" [src]="forecastItem.iconUrl" [alt]="forecastItem.weather[0].description">
      </li>
    </ul>
  </div>
  <button class="btn btn-success" id="mainPageBtn" [routerLink]="['']">&lt; Back to main page</button>
</div>
